.attribute-ebu {
  font-size: 13px;
  margin-bottom: 12px;
}

.attribute-label-ebu {
  min-width: 142px;
  padding-right: 5px;
  display: inline-block;
  color: var(--greyForegroundColor);
  font-weight: 700;
}

.attribute-category,
.attribute-licence,
.attribute-language,
.attribute-tags,
.attribute-duration,
.attribute-privacy{
  display: none !important;
}